:root {
  --bg-color: #2a2132;
  --hd-color: #19131e;
  --dd-color: #201927;
  --main-font: "Poppins", sans-serif;
  --guild-color: white;
  --tank-color: rgb(0, 119, 255);
  --supp-color: rgb(235, 196, 0);
  --dps-color: rgb(188, 0, 0);
  --heal-color: green;
  --bm-color: rgb(181, 181, 181);
  --tenman-color: rgb(255, 255, 0);
}

body {
  background-color: var(--bg-color);
  margin: 0;
}

.recruiting {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

#welcome {
  font-size: 3vw;
  font-family: var(--main-font);
  display: flex;
  text-wrap: nowrap;
  color: var(--guild-color);
}

#info {
  font-size: 1vw;
  font-family: var(--main-font);
  display: flex;
  text-wrap: nowrap;
  color: var(--guild-color);
}

.discord-button {
  margin-top: 15px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: #5865f2;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-family: var(--main-font);
  font-size: 1vw;
  transition: background-color 0.3s ease;
}

.discord-button img {
  width: 2vw;
  height: auto;
}

.discord-button:hover {
  background-color: #4752c4;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4vw;
  display: flex;
  padding: 0px 10px 0px 10px;
  gap: 2vw;
  background-color: var(--hd-color);
  align-items: center;
  z-index: 9999;
}

#smallscale,
#avaroads,
#bombsquad,
#pk,
#tenman,
#tenman-active {
  font-family: var(--main-font);
  font-size: 1vw;
  color: var(--guild-color);
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}

#smallscale-tank {
  font-family: var(--main-font);
  font-size: 1vw;
  color: var(--tank-color);
  text-shadow: 0px 0px 20px, 0px 0px 10px var(--tank-color);
  cursor: pointer;
  user-select: none;
}

#smallscale-supp {
  font-family: var(--main-font);
  font-size: 1vw;
  color: var(--supp-color);
  text-shadow: 0px 0px 20px, 0px 0px 10px var(--supp-color);
  cursor: pointer;
  user-select: none;
}

#smallscale-dps {
  font-family: var(--main-font);
  font-size: 1vw;
  color: var(--dps-color);
  text-shadow: 0px 0px 20px, 0px 0px 10px var(--dps-color);
  cursor: pointer;
  user-select: none;
}

#smallscale-heal {
  font-family: var(--main-font);
  font-size: 1vw;
  color: var(--heal-color);
  text-shadow: 0px 0px 20px, 0px 0px 10px var(--heal-color);
  cursor: pointer;
  user-select: none;
}

#smallscale-bm {
  font-family: var(--main-font);
  font-size: 1vw;
  color: var(--bm-color);
  text-shadow: 0px 0px 20px, 0px 0px 10px var(--bm-color);
  cursor: pointer;
  user-select: none;
}

#tenman-active {
  font-family: var(--main-font);
  font-size: 1vw;
  color: var(--tenman-color);
  text-shadow: 0px 0px 20px, 0px 0px 10px var(--tenman-color);
  cursor: pointer;
  user-select: none;
}

.dropdown {
  padding: 1.3vw 0px 1.2vw 0px;
  display: flex;
  position: relative;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 0.3vw;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--dd-color);
  z-index: 1000;
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  align-items: center;
  transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
}

.dropdown:hover .dropdown-content {
  max-height: 500px;
  padding: 5px 0 5px 0;
  opacity: 1;
  pointer-events: auto;
  align-items: center;
}

.item-table {
  margin: 9vw auto;
  width: 60%;
  table-layout: fixed;
  border-collapse: collapse;
  font-family: var(--main-font);
  user-select: none;
}

.item-table {
  margin: 9vw auto 0 auto;
  width: 60%;
  table-layout: fixed;
  border-collapse: collapse;
  font-family: var(--main-font);
  user-select: none;
}

#escapeset {
  margin: 0 auto 9vw auto !important;
}

#escapeset th, #escapeset td{
  border-top: none;
}

.item-table th,
.item-table td {
  border: 1px solid #ddd;
  padding: 0.5vw;
  text-align: center;
}

.item-table th {
  font-weight: bold;
  font-size: 1vw;
}

.tank-th {
  color: var(--tank-color);
}

.supp-th {
  color: var(--supp-color);
}

.heal-th {
  color: var(--heal-color);
}

.dps-th {
  color: var(--dps-color);
}

.bm-th {
  color: var(--bm-color);
}

.tenman-th{
  color: var(--tenman-color);
}

.item-table td {
  color: var(--tank-color);
  font-weight: bold;
}

table img {
  width: -webkit-fill-available;
  height: auto;
}

.dual-img {
  position: relative;
}

.dual-img img:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  z-index: 2;
}

.dual-img img:last-child {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  z-index: 1;
}

.triple-img {
  position: relative;
}

.triple-img img:nth-child(1) {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  z-index: 3;
}

.triple-img img:nth-child(2) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  z-index: 2;
}

.triple-img img:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  z-index: 1;
}



#guild {
  margin: 0px 5px 0px 5px;
  font-family: var(--main-font);
  color: var(--guild-color);
  font-size: 2vw;
  text-decoration: none;
  user-select: none;
}

#tank,
#support,
#dps,
#heal,
#battlemount {
  font-family: var(--main-font);
  font-size: 1vw;
  text-decoration: none;
  user-select: none;
}

#tank {
  color: var(--tank-color);
}

#tank:hover {
  color: var(--tank-color);
  text-shadow: 0px 0px 10px, 0px 0px 10px var(--tank-color);
}

#support {
  color: var(--supp-color);
}

#support:hover {
  color: var(--supp-color);
  text-shadow: 0px 0px 10px, 0px 0px 10px var(--supp-color);
}

#dps {
  color: var(--dps-color);
}

#dps:hover {
  color: var(--dps-color);
  text-shadow: 0px 0px 10px, 0px 0px 10px var(--dps-color);
}

#heal {
  color: var(--heal-color);
}

#heal:hover {
  color: var(--heal-color);
  text-shadow: 0px 0px 10px, 0px 0px 10px var(--heal-color);
}

#battlemount {
  color: var(--bm-color);
}

#battlemount:hover {
  color: var(--bm-color);
  text-shadow: 0px 0px 10px, 0px 0px 10px var(--bm-color);
}

.footer {
  font-size: 1vw;
  position: relative;
  margin: 0px 3vw 0px auto;
  background-color: var(--hd-color);
  color: var(--guild-color);
  border-radius: 8px;
  font-family: var(--main-font);
  z-index: 1000;
  user-select: none;
}
